In [1]:
# Import dependencies

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

In [3]:
# Import data

In [10]:
income_data = pd.read_csv('income.txt', header = 0, delimiter = ", ")

C:\Users\lenpk\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [11]:
# inspect income
income_data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [12]:
# inspect first row
print(income_data.iloc[0])

age                          39
workclass             State-gov
fnlwgt                    77516
education             Bachelors
education-num                13
marital-status    Never-married
occupation         Adm-clerical
relationship      Not-in-family
race                      White
sex                        Male
capital-gain               2174
capital-loss                  0
hours-per-week               40
native-country    United-States
income                    <=50K
Name: 0, dtype: object

## Format The Data For Scikit-learn

In [14]:
# target variable/label is income

In [15]:
labels = income_data['income']

In [16]:
# use "age", "capital-gain", "capital-loss", "hours-per-week" to predict income

In [22]:
# data = income_data[['age', 'capital-gain', 'capital-loss', 'hours-per-week']]

In [18]:
# split data into train and test set

In [23]:
# train_data, test_data, train_labels, test_labels = train_test_split(data, labels, random_state = 1)

In [20]:
# create Random Forest Classifier

In [24]:
# forest = RandomForestClassifier(random_state = 1)

In [26]:
#fit the data
# forest.fit(train_data, train_labels)

RandomForestClassifier(random_state=1)

In [28]:
# check accuracy
# print(forest.score(test_data, test_labels))

0.8222577078982926

In [29]:
# encode sex column to add to model
# income_data["sex-int"] = income_data["sex"].apply(lambda row: 0 if row == "Male" else 1)

In [30]:
# data_with_age = income_data[['age', 'capital-gain', 'capital-loss', 'hours-per-week', 'sex-int']]

In [31]:
# train_data, test_data, train_labels, test_labels = train_test_split(data_with_age, labels, random_state = 1)

In [32]:
rf = RandomForestClassifier(random_state = 1)

In [33]:
# rf.fit(train_data, train_labels)

RandomForestClassifier(random_state=1)

In [35]:
# print(rf.score(test_data, test_labels))

0.8272939442328953

In [36]:
# encode native-country to add to model
income_data["country-int"] = income_data["native-country"].apply(lambda row: 0 if row == "United-States" else 1)

In [37]:
data_with_country = income_data[['age', 'capital-gain', 'capital-loss', 'hours-per-week', 'sex-int', 'country-int']]

In [38]:
train_data, test_data, train_labels, test_labels = train_test_split(data_with_country, labels, random_state = 1)